<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <title>BI App DC - Admin</title>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 800px}

        /* Set gray background color and 100% height */
        .sidenav {
          padding-top: 20px;
          background-color: #f1f1f1;
          height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
          background-color: #555;
          color: white;
          padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            height: auto;
            padding: 15px;
          }
          .row.content {height:auto;}
        }
        /* Set Table-Style */
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }


    </style>
    <script type="text/javascript">

        // // TO-DO responsive resizing
        // window.onresize = function () {
        // // As of 1.1.0 the second parameter here allows you to draw
        // // without reprocessing data.  This saves a lot on performance
        // // when you know the data won't have changed.
        //     myChart.draw(0, true);
        // };

    </script>

</head>


<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">Business Intelligence App DC</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Ausloggen</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="container-fluid">
    <div class="row content">

        <!-- Linke Seite (seitliche Navigationsleiste) -->
        <div class="col-sm-3 sidenav">
            <h2>Hallo Admin!</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1"><span class="glyphicon glyphicon-stats"> Dashboard</a></li>
                <li><a href="#section2"><span class="glyphicon glyphicon-cog"> Einstellungen</a></li>
            </ul>
        </div>
        <br>

        <!-- Rechte Seite (Dashboard) -->
        <div class="col-sm-9" id="section1">
            <!-- *****************
            **********************
            LISTE DER USER
            **********************
            ******************* -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="well">
                        <h2 class="text-align-center">Bearbeiten Sie den Benutzer <%=selectedUser%>:</h2>

                        <!-- UPDATE FORM -->
                        <form action="/changeUser" method="post">
                            <div class="form-group">
                                <label>Benutzername</label>
                                <input type="text" class="form-control" name="username" value=<%=username%>>
                            </div>
                            <div class="form-group">
                                <label>Passwort</label>
                                <input type="password" class="form-control" name="password" value="**********">
                            </div>
                            <div class="form-group">
                                <label>Datenbank-Host</label>
                                <input type="text" class="form-control" name="host" value=<%=host%>>
                            </div>
                            <div class="form-group">
                                <label>Datenbank-Benutzername</label>
                                <input type="text" class="form-control" name="username_db" value=<%=username_db%>>
                            </div>
                            <div class="form-group">
                                <label>Datenbank-Passwort</label>
                                <input type="text" class="form-control" name="password_db" value=<%=password_db%>>
                            </div>
                            <div class="form-group">
                                <label>Datenbank-Name</label>
                                <input type="text" class="form-control" name="db" value=<%=db%>>
                            </div>

                            <button type="submit" class="btn btn-warning btn-lg">Daten ändern</button>
                        </form>

                        <hr>

                        <p>Zurück zur <a href="/profile">Übersicht</a></p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Rechte Seite (Einstellungen) -->
        <!-- <div class="col-sm-9" id="section2">
            hier muss noch der Einstellungen-Tab bearbeitet werden
        </div> -->

    </div>
</div>


<footer class="container-fluid text-center" id="footer">

</footer>

 </body>
