<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <title>BI App DC - <%= user %></title>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
          border-color: #97c33d;
          background-color: white;
        }

        body {
            background-color: white;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 800px}

        /* Set dc background color and 100% height; color before: f1f1f1*/
        .sidenav {
          padding-top: 20px;
          background-color: #f1f1f1;
          height: 100%;
        }

        .btn-primary {
            background-color: #97c33d;
            border-color: #97c33d;
        }

        .btn-primary:hover {
            background-color: #74a80b;
            border-color: #74a80b;
        }

        .btn-primary:focus {
            background-color: #629102;
            border-color: #629102;
        }

        /* Set black background color, white text and some padding */
        footer {
          background-color: #f1f1f1;
          color: white;
          padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            height: auto;
            padding: 15px;
          }
          .row.content {height:auto;}
        }
    </style>
    <script type="text/javascript">

        // // TO-DO responsive resizing
        // window.onresize = function () {
        // // As of 1.1.0 the second parameter here allows you to draw
        // // without reprocessing data.  This saves a lot on performance
        // // when you know the data won't have changed.
        //     myChart.draw(0, true);
        // };

    </script>

</head>


<body>

    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <div class="navbar-header" id="myNavbarHeader">
            <a href="/profile">
                <img class="d-inline-block align-top" alt="dynamic commerce logo" src="https://www.dc-solution.de/userdata/images/allgemein/Logo-dynamic-commerce.svg" style="margin-top: 3px; width: 120px; height:45px;">
            </a>
        </div>
        <span class="navbar-brand" style="margin-left: 20px; color: #97c33d;">Business Intelligence App</span>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Ausloggen</a></li>
          </ul>
        </div>
      </div>
    </nav>



<div class="container-fluid">
    <div class="row content">

        <!-- Linke Seite (seitliche Navigationsleiste) -->
        <div class="col-sm-3 sidenav">
            <h2>Hallo <%= user %>!</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1"><span class="glyphicon glyphicon-stats"> Dashboard</a></li>
                <li><a href="#section2"><span class="glyphicon glyphicon-cog"> Einstellungen</a></li>
            </ul>
        </div>
        <br>

        <!-- Rechte Seite (Dashboard) -->
        <div class="col-sm-9" id="section1">
            <!-- *****************
            **********************
            REIHE 0 (TOP: Gesamtumsatz im Jahr X)
            **********************
            ******************* -->
            <div class="row">
                <!-- Linkes Feld in Reihe 0 (Umsatz) -->
                <div class="col-xs-8">
                    <div class="well">
                        <h3 class="text-center">Gesamtumsatz im Jahr &nbsp;
                                <!-- Auswahl-Button für parametrisierbares Jahr von KPI1 (UmsatzProMonat) -->
                                <select id="button_kpi1">
                                    <% console.log(years_kpi1);
                                    for(var i of years_kpi1) { %>
                                    <!-- Benutze bei i."year" den Nametag, den man in der Query der Spalte zuweist. -->
                                    <option><%=i.year%></option><%
                                    }
                                    %>
                                    <option>2016</option>
                                    <option>2015</option>
                                </select>
                            : <strong><%=result4_1%>€</strong>

                            <script>
                                // Send GET-Request when SELECT-Button changes
                                $("#button_kpi1").change(function() {
                                    console.log("-.-.-.-.-.-Button wurde geaendert: " + $(this).val());
                                    $.get("?year=" + $(this).val(), function(data, status) {
                                  })
                                });
                            </script>
                        </h3>
                    </div>
                </div>

                <!-- Rechtes Feld in Reihe 0 (Warenkörbe) -->
                <div class="col-xs-4">
                    <div class="well">
                        <!-- KPI 5: Warenkörbe-Daten -->
                        <!-- ************** TO-DO: Info-Button hinzufügen, wo man die Erklärung für die Werte erhält ********** -->
                        <p class="text-left">Durchschnittlicher Warenkorbwert: <strong><%=result8_1%>€</strong></p>
                		<p class="text-left">Rate nicht-bestellter Warenkörbe: <strong><%=result8_2%>%</strong></p>
                    </div>
                </div>

            </div>

            <!-- *****************
            **********************
            REIHE 1
            **********************
            ******************* -->
            <div class="row">
                <!-- Linkes Feld in Reihe 1 -->
                <div class="col-lg-6">
                    <div class="well">

                        <!-- Button um Diagramm von KPI1 (UmsatzProMonat) ein- & auszublenden -->
                        <button aria-expanded="false" class="btn btn-primary" data-target="#chart_kpi1" data-toggle="collapse" type="button">Umsatz pro Monat vergleichen</button>

                        <!-- Diagramm KPI 1 -->
                        <div id="chart_kpi1" class="collapse in" aria-expanded="false" style>
                            <!--***********************
                            Hier kommt das Diagramm für KPI 1 (Umsatz pro Monat) hin
                            ************************-->
                            <script type="text/javascript">
                                //
                                // KPI-Diagramm Umsatz pro Monat
                                //
                                var svg4 = dimple.newSvg("#chart_kpi1", "100%", 250);
                                var data4 = <%-JSON.stringify(result4_2)%>;
                                var chart4 = new dimple.chart(svg4, data4);
                                var x4 = chart4.addCategoryAxis("x", "monat");
                                x4.addOrderRule("monat");
                                x4.title = "Monat";
                                var y4 = chart4.addMeasureAxis("y", "umsatz");
                                y4.title = "Umsatz (€)";
                                chart4.addSeries(null, dimple.plot.bar);
                                chart4.draw();
                            </script>
                        </div>

                    </div>
                </div>

                <!-- Rechtes Feld in Reihe 1 -->
                <div class="col-lg-6">
                    <div class="well">
                        <!-- Button um Diagramm von KPI 2 ein- & auszublenden -->
                        <button aria-expanded="false" class="btn btn-primary" data-target="#chart_kpi2" data-toggle="collapse" type="button">Durchschnittliche Bestellsumme anzeigen</button>
                        <!-- Diagramm KPI 2 -->
                        <div id="chart_kpi2" class="collapse in" aria-expanded="false" style>
                            <!--***********************
                            Hier kommt das Diagramm für KPI 2 (Durchschnittliche Bestellsumme) hin
                            ************************-->
                            <script>
                                //
                                // KPI-Diagramm Durchschnittliche Bestellsumme
                                //
                                var svg5 = dimple.newSvg("#chart_kpi2", "100%", 250);
                                var data5 = <%-JSON.stringify(result5)%>
                                var chart5 = new dimple.chart(svg5, data5);
                                var x5 = chart5.addCategoryAxis("x", "monat");
                                x5.addOrderRule("monat");
                                x5.title = "Monat";
                                var y5 = chart5.addMeasureAxis("y", "avg_bestellsumme");
                                y5.title = "Durchschnittliche Bestellsumme (€)";
                                chart5.addSeries(null, dimple.plot.bar);
                                chart5.draw();
                            </script>
                        </div>
                    </div>
                </div>

            </div>

            <!-- *****************
            **********************
            REIHE 2
            **********************
            ******************* -->
            <div class="row">
                <!-- Linkes Feld in Reihe 2 -->
                <div class="col-lg-6">
                    <div class="well">
                        <!-- Button um Diagramm von KPI 3 ein- & auszublenden -->
                        <button aria-expanded="false" class="btn btn-primary" data-target="#chart_kpi3" data-toggle="collapse" type="button">Conversionrate (absolut) anzeigen</button>
                        <!-- Diagramm KPI 3 -->
                        <div id="chart_kpi3" class="collapse in" aria-expanded="false" style>
                            <!--***********************
                            Hier kommt das Diagramm für KPI 3 (Conversionrate in absoluten Zahlen pro Monat) hin
                            ************************-->
                            <script>
                                //
                                // KPI-Diagramm Conversionrate in absoluten Zahlen pro Monat
                                //
                                var svg6 = dimple.newSvg("#chart_kpi3", "100%", 250);
                                // so sieht die Übergabe der DB aus:
                                //      var result = [
                                //	     	{"monat": "1", "anzahl_orders": "123", "anzahl_visitor": "200"},
                                //	     	{"monat": "2", "anzahl_orders": "32", "anzahl_visitor": "90"},
                                //		    {"monat": "3", "anzahl_orders": "55", "anzahl_visitor": "102"}
                                //      ];
                                var res6 = <%-JSON.stringify(result6)%>
                                var data6=[];

                                for(var i = 0; i < res6.length; i++){
                                    var obj = res6[i];
                                    var obj1 = {"Monat": obj.monat, "Art": "Orders", "Anzahl": obj.anzahl_orders};
                                    var obj2 = {"Monat": obj.monat, "Art": "Visitors", "Anzahl": obj.anzahl_visitor};
                                    data6.push(obj1);
                                    data6.push(obj2);
                                }
                                console.log(data6);
                                // so sieht die Eingabe für das Diagramm aus:
                                //	     var data6 = [
                                //	 	    {"Monat": "1", "Art": "Orders", "Anzahl": "10"},
                                //	     	{"Monat": "1", "Art": "Visitors", "Anzahl": "20"},
                                //		    {"Monat": "2", "Art": "Orders", "Anzahl": "1"},
                                //		    {"Monat": "2", "Art": "Visitors", "Anzahl": "2"}
                                //	     ];

                                var chart6 = new dimple.chart(svg6, data6);
                                var x6 = chart6.addCategoryAxis("x", ["Monat", "Art"]);
                                x6.addOrderRule("Monat");
                                chart6.addMeasureAxis("y", "Anzahl");
                                chart6.addSeries("Art", dimple.plot.bar);
                                chart6.addLegend("80%", 10, "10%", "95%", "right");
                                chart6.draw();
                            </script>
                        </div>
                    </div>
                </div>
                <!-- Rechtes Feld in Reihe 2 -->
                <div class="col-lg-6">
                    <div class="well">
                        <!-- Button um Diagramm von KPI 4 ein- & auszublenden -->
                        <button aria-expanded="false" class="btn btn-primary" data-target="#chart_kpi4" data-toggle="collapse" type="button">Umsatz über Zeit (absolut) anzeigen</button>
                        <!-- Diagramm KPI 3 -->
                        <div id="chart_kpi4" class="collapse in" aria-expanded="false" style>
                            <!--***********************
                            Hier kommt das Diagramm für KPI 4 (Umsatz über Stunde)  hin
                            ************************-->
                            <script>
                                //
                                // KPI-Diagramm Umsatz über Stunde
                                //
                        		var svg7 = dimple.newSvg("#chart_kpi4", "100%", 250);
                        		var data7 = <%-JSON.stringify(result7)%>
                        		var chart7 = new dimple.chart(svg7, data7);
                        		var x7 = chart7.addCategoryAxis("x", "stunde");
                        		chart7.addMeasureAxis("y", "umsatz");
                        		chart7.addSeries(null, dimple.plot.line);
                        		chart7.draw();
                            </script>
                        </div>

                    </div>
                </div>
            </div>

            <!-- *****************
            **********************
            REIHE 3
            **********************
            ******************* -->
            <div class="row">
                <!-- Linkes Feld in Reihe 3 -->
                <div class="col-lg-6">
                    <div class="well">
                        <!-- Button um Diagramm von KPI 6 ein- & auszublenden -->
                        <button aria-expanded="false" class="btn btn-primary" data-target="#chart_kpi6" data-toggle="collapse" type="button">Top Trending-Produkte der letzten 30 Tage</button>
                        <!-- SELECT-Button -->
                        <span>
                            <select id="button_kpi6">
                                <option <% if (numberTopProducts == 1) %>selected<% ; %>>1</option>
                                <option <% if (numberTopProducts == 2) %>selected<% ; %>>2</option>
                                <option <% if (numberTopProducts == 3) %>selected<% ; %>>3</option>
                                <option <% if (numberTopProducts == 4) %>selected<% ; %>>4</option>
                                <option <% if (numberTopProducts == 5) %>selected<% ; %>>5</option>
                                <option <% if (numberTopProducts == 10) %>selected<% ; %>>10</option>
                                <option <% if (numberTopProducts == 15) %>selected<% ; %>>15</option>
                                <option <% if (numberTopProducts == 20) %>selected<% ; %>>20</option>
                            </select>
                        </span>
                        <!-- Diagramm KPI 6 -->
                        <div id="chart_kpi6" class="collapse in" aria-expanded="false" style>

                            <!--***********************
                            Hier kommt das Diagramm für KPI 6 (Top 10 Trending-Produkte der letzten 30 Tage) hin
                            ************************-->
                            <script>
                                //
                                // TO-DO: letzte 30 Tage von aktuellem Datum aus
                                //
                                // KPI-Diagramm Top 10 Trending-Produkte im Monat vor dem 20.3.2017
                                //
                                // Send GET-Request when SELECT-Button changes
                                $("#button_kpi6").change(function() {
                                        console.log("-.-.-.-.-.-Button wurde geaendert: " + $(this).val());
                                        window.location.replace("?numberTopProducts=" + $(this).val());
                                        /*$.get("?numberTopProducts=" + $(this).val(), function(data, status) {
                                            data9 = <%-JSON.stringify(result9)%>;
                                            console.log(<%-JSON.stringify(result9)%>);
                                        })*/
                                });
                                var svg9 = dimple.newSvg("#chart_kpi6", "100%", 350);
                                var data9 = <%-JSON.stringify(result9)%>;
                                var chart9 = new dimple.chart(svg9, data9);
                                var y9 = chart9.addCategoryAxis("y", "description");
                                y9.addOrderRule("umsatz");
                                y9.title = "Item";
                                y9.hidden = true;
                                var x9 = chart9.addMeasureAxis("x", "umsatz");
                                x9.title = "Umsatz (€)";
                                var s9 = chart9.addSeries(null, dimple.plot.bar);
                                s9.afterDraw = function (shape, data) {
                                    var s = d3.select(shape),
                                    rect = {
                                        x: parseFloat(chart9.x),
                                        y: parseFloat(s.attr("y")),
                                        width: parseFloat(s.attr("width")),
                                        height: parseFloat(s.attr("height"))
                                    };
                                    svg9.append("text")
                                        .attr("x", rect.x+50)
                                        .attr("y", rect.y + rect.height / 2 + 3.5)
                                        .style("text-anchor", "left")
                                        .style("font-size", "12px")
                                        .style("font-family", "sans-serif")
                                        .style("pointer-events", "none")
                                        .text(data.y);
                                };
                                chart9.draw();
                            </script>
                        </div>
                    </div>
                </div>
                <!-- Rechtes Feld in Reihe 3 -->
                <div class="col-lg-6">
                    <div class="well">
                        <!-- Button um Diagramm von KPI 7 ein- & auszublenden -->
                        <button aria-expanded="false" class="btn btn-primary" data-target="#chart_kpi4" data-toggle="collapse" type="button">XXXXXXXX anzeigen</button>
                        <!-- Diagramm KPI 7 -->
                        <div id="chart_kpi4" class="collapse in" aria-expanded="false" style>
                            <!--***********************
                            Hier kommt das Diagramm für KPI 7 ()  hin
                            ************************-->
                            <script>
                                //
                                // KPI-Diagramm X
                                //

                            </script>
                        </div>

                    </div>
                </div>
            </div>

        </div>


        <!-- Rechte Seite (Einstellungen) -->
        <!-- <div class="col-sm-9" id="section2">
            hier muss noch der Einstellungen-Tab bearbeitet werden
        </div> -->

    </div>
</div>


<footer class="container-fluid text-center" id="footer">

</footer>

 </body>
